<div #drawer class="drawer ion-padding">
  <ion-row>
    <ion-col size="10">
      <h2>
        {{ title }}
      </h2>
    </ion-col>
    <ion-col size="2" class="ion-text-right">
      <ion-button
        (click)="closeDrawer()"
        fill="clear"
        color="medium"
        size="large"
      >
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="2">
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col size="10"> Episode And Info </ion-col>

    <ion-col size="2">
      <ion-icon name="download-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col size="10"> Download Episode </ion-col>

    <ion-col size="2">
      <ion-icon name="thumbs-up-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col size="10"> Like </ion-col>

    <ion-col size="2">
      <ion-icon name="thumbs-down-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col size="10"> Not For Me</ion-col>
  </ion-row>
</div>
