<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    color="light"
    placeholder="Search in Netflix series"
    [debounce]="250"
  ></ion-searchbar>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Recent seaches</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let film of films.images">
      <ion-avatar style="margin-right: 10px">
        <img [src]="'../../assets/images/films/'+film" />
      </ion-avatar>
      <ion-label>{{film| filmToTitlePipe | uppercase}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
